<!DOCTYPE html>
<html>
<head>
	<title>Simulator - MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
	<!-- <link rel="stylesheet" href="stylesheets/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="javascripts/vendor/js/plotly-latest.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="./css/style_others.css"> -->
	<link rel="stylesheet" href="stylesheets/css/style-2.css">
	<style type="text/css">
		.modebar {
			display:none;
		}
		.layer-below, .ternarylayer, .layer-above, .groups{
		display:none;
		}
		
		#motorSpec td,th{
			text-align: center;
			padding: 0;
		}
	</style>
	<!-- Constants -->
	<script type="text/javascript">
	 var massID = 2;
	 var accID = 2;
	 var shapeID = 2;
	 var vmaxID = 2;
	 var mass = [5,7,9,11];
	 var Pm = [232.3,272.3,312.3,352.3];
	 var Pmideal = [100,140,180,220];
	 var accn = [0.5,1,1.5,2];
	 var Pacc = [ 232.30, 332.30, 432.30, 532.30];
	 var Paccideal =[100,200,300,400];
	 var Cd = [0.24, 0.28, 0.32, 0.36];
	 var Pshape = [305.84, 323.48, 341.12, 358.76];
	 var Pshapeideal = [200, 200, 200, 200];
	 var vmax = [8.9443, 12.6491, 15.4919, 20, 21.909];
	 var dist = [ 40, 80, 120, 200, 240];
	 var Pv = [101.276, 159.961, 216.407, 332.3, 393];
	 var Pvideal = [89.443,   126.491,   154.919,   200.000,   219.090];
	</script>
</head>
<body>

<section id="middle-part">
<div class="top-section">
		<div class="row">
		<div class="col-sm-6" style="text-align:center;vertical-align:middle"> <p>MEttLE</p> </div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="simulator" target="_blank"><input id="problem1simulator3_sim" type="image" src="images/simulatoractive.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="calculator" target="_blank"><input id="problem1simulator3_calc" type="image" src="images/calc.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="information" target="_blank"><input id="problem1simulator3_info" type="image" src="images/info.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="scratch" target="_blank"><input  id="problem1simulator3_scribble"type="image" src="images/scribble.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="/problem/1/map" target="_blank"><input id="problem1simulator3_map" type="image" src="images/map.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center"> <a href="login/logout"><button id="problem1simulator3_logout" style="margin-top: 8px;height: 50px;" type="button" class="btn btn-default">Logout</button></a></div>
		</div>
	</div>			
	<div class="register">
	<div class="info" style="height:40px">
	<div class="row" style="text-align:center">
	<div class="col-lg-8">
	<p> Explore relationship between various parameters and total power required </p> </div>
	<div class="col-lg-4"><div class="popup"> <button id="problem1simulator3_guide" onclick="showhint()" type="button" class="btn btn-primary">Guide Me</button>
  <span class="popuptext" id="problem1simulator3_hints"> a) Vary one parameter at a time. <br> b) Observe the graphs and think about how changing the parameter affects power.  <br> c) Observe if the effect is "big" or "small". <br> d) Note which parameters cause "big" changes.  </span>
</div> </div>
	 </div></div>
	
	<div class = "container">
    	<div class="col-lg-6" style = "margin-left: -10px; margin-right: -10px">
			<div id="screen3_graph" style="width: 500px; height: 350px; margin-top:10px; margin-left:0px"><!-- Plotly chart will be drawn inside this DIV --></div>	
			<div class = "row" id="powermassrel" style="text-align: center; margin-top:5px">
				<div class="col-lg-4"> <button onclick="mass_dec()" type="button" class="btn btn-default">Decrease</button> </div> <div class="col-lg-4"><button onclick="showGraphmass()" type="button" class="btn"> Mass </button></div> <div class="col-lg-4"><button onclick="mass_inc()" type="button" class="btn btn-default">Increase</button></div>
			</div>	
             <div class = "row" id="poweraccrel" style="text-align: center; margin-top:5px">
			 <div class="col-lg-4"> <button onclick="acc_dec()" type="button" class="btn btn-default">Decrease</button> </div> <div class="col-lg-4"><button onclick="showGraphacc()" type="button" class="btn"> Acceleration </button></div> <div class="col-lg-4"><button onclick="acc_inc()" type="button" class="btn btn-default">Increase</button></div>
			</div>
			
			</div> 
		<div class="col-lg-6" style = "margin-left: 10px">
		<div class="row" style="text-align: center; margin-top:10px"> Animation of forces on car changing with time <br> for your chosen set of parameters </div>
				<div class = "row" style = "margin-left: 10px"> <video id="animvid" width = "500" height = "300" controls></video></div>        
 			<div class = "row" id="powershaperel" style="text-align: center; margin-top:5px">
			<div class="col-lg-4"> <button onclick="shape_dec()" type="button" class="btn btn-default">Decrease</button> </div> <div class="col-lg-4"><button onclick="showGraphshape()" type="button" class="btn"> Shape Factor </button></div> <div class="col-lg-4"><button onclick="shape_inc()" type="button" class="btn btn-default">Increase</button></div>
			</div>
			<div class = "row" id="powervmaxrel" style="text-align: center; margin-top:5px">
				<div class="col-lg-4"> <button onclick="vmax_dec()" type="button" class="btn btn-default">Decrease</button> </div> <div class="col-lg-4"><button onclick="showGraphvmax()" type="button" class="btn"> Maximum Velocity </button></div> <div class="col-lg-4"><button onclick="vmax_inc()" type="button" class="btn btn-default">Increase</button></div>
			</div>
 		</div>
	</div>
<div class = "col-lg-6" style="text-align: center; margin-top:5px">  <a href="screen2" class="previous"><button type="button" class="btn btn-info">&#60; Power needed for accelerating vs. overcoming drag </button></a>   </div> <div class = "col-lg-6" style="text-align: center; margin-top:5px"> <a href="screen4" class="next"> <button type="button" class="btn"> Relationship between electrical and mechanical power &#62; </button></a>  </div>	
	</section>
	</body>

<script type="text/javascript">
function rePlotmass()
	{	
		//alert("yes"+massID);
		//Plotting mass-power 
		trace01.x=[mass[massID-1]];
		trace01.y=[Pm[massID-1]];
		trace01.marker.color=[15];
		trace02.x=mass;
		trace02.y=Pm;
		trace03.x=mass;
		trace03.y=Pmideal;
		Plotly.newPlot('screen3_graph', data0, layout0);
		}
		
		function rePlotacc()
		{
        //Plotting accn-power 
		trace21.x=[accn[accID-1]];
		trace21.y=[Pacc[accID-1]];
		trace21.marker.color=[15];
		trace22.x=accn;
		trace22.y=Pacc;
		trace23.x=accn;
		trace23.y=Paccideal;
		Plotly.newPlot('screen3_graph', data2, layout2);
}

function rePlotshape()
{
		//Plotting Cd-power
		trace11.x=[Cd[shapeID-1]];
		trace11.y=[Pshape[shapeID-1]];
		trace11.marker.color=[15];
		trace12.x=Cd;
		trace12.y=Pshape;
		trace13.x=Cd;
		trace13.y=Pshapeideal;
		Plotly.newPlot('screen3_graph', data1, layout1);
		}

		function rePlotvmax()
		{
		//Plotting maximum velocity-power 
		trace31.x=[vmax[vmaxID-1]];
		trace31.y=[Pv[vmaxID-1]];
		trace31.marker.color=[15];
		trace32.x=vmax;
		trace32.y=Pv;
		trace33.x=vmax;
		trace33.y=Pvideal;
		Plotly.newPlot('screen3_graph', data3, layout3);
	}
</script>


<script type="text/javascript">
//trace01, trace02, data0, layout0 @Plot Pxm ********
var trace01 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Animation parameters',
	text: 'Acceleration = 1m/s^2 <br> Cd = 0.3 <br> Maximum Velocity = 20m/s',
	marker: { size: 8,
		color:[9] }
	};
var trace02 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating + overcoming drag',
  	text: 'Acceleration = 1m/s^2 <br> Cd = 0.3 <br> Maximum Velocity = 20m/s',
  	marker: { size: 8 },
	line: {
    dash: 'dash',
    width: 3
  }
	};
	var trace03 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating only',
  	text: [],
  	marker: { size: 8},
	line: {
    dash: 'solid',
	color: 'grey',
    width: 3
  }
	};
var data0 = [trace02, trace01, trace03];
var layout0 = { 
height: 350,
  width: 500,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  },
title: 'Maximum power required for accelerating & overcoming drag',
titlefont: {
size: 12,
},
	xaxis: {
		range: [ 0,15 ],
		title: 'Mass (kg)',	
		titlefont: {
size: 12,
},
	},
	yaxis: {
		range: [0, 600],
		title: 'Maximum Power required(W)',
		titlefont: {
size: 12,
},
	},
	annotations: [{
     	x: 10,
        y: 338,
       showarrow: true,
	   ax: 0,
       ay: 70,
      arrowhead: 2,
      arrowsize: 1,
      arrowwidth: 2,
      arrowcolor: '#c80000'
  	   },
	   {
     	x: 12,
        y: 300,
        text: 'Extra power <br> required to <br> overcome drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false,
	   bgcolor: '#ff7f0e',
      opacity: 0.8
	   },
	   {
     	x: 10,
        y: 150,
        text: 'Power required <br> for accelerating',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   {
     	x: 7,
        y: 380,
        text: 'Total power required for <br> accelerating and overcoming drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   ],
  
  hovermode: 'closest'
};
//*******************************************************

//trace11, trace12, data1, layout1 Plot Pxshape ********
var trace11 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Animation parameters',
	text: 'Acceleration= 1m/s^2 <br> Mass= 10kg <br> Maximum velocity= 20m/s',
	marker: { size: 8,
		color:[9] }
	};

var trace12 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating + overcoming drag',
  	text: 'Acceleration= 1m/s^2 <br> Mass= 10kg <br> Maximum velocity= 20m/s',
  	marker: { size: 8 },
	line: {
    dash: 'dash',
    width: 3
  }
	};
var trace13 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating only',
  	text: [],
  	marker: { size: 8},
	line: {
    dash: 'solid',
	color: 'grey',
    width: 3
  }
	};
var data1 = [ trace12, trace11, trace13];

var layout1 = { 
height: 350,
  width: 500,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  },
title: 'Maximum power required for accelerating & overcoming drag',
titlefont: {
size: 12,
},
	xaxis: {
		range: [ 0, 0.5 ],
		title: 'Cd of car',
titlefont: {
size: 12,		
	}, },
	yaxis: {
		range: [0, 600],
		title: 'Maximum Power required(W)',
		titlefont: {
size: 12,
	},
	},
	annotations: [{
     	x: 0.3,
        y: 332,
       showarrow: true,
	   ax: 0,
       ay: 66,
      arrowhead: 2,
      arrowsize: 1,
      arrowwidth: 2,
      arrowcolor: '#c80000'
  	   },
	   {
     	x: 0.36,
        y: 280,
        text: 'Extra power <br> required to <br> overcome drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false,
	   bgcolor: '#ff7f0e',
      opacity: 0.8
	   },
	   {
     	x: 0.3,
        y: 170,
        text: 'Power required <br> for accelerating',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   {
     	x: 0.2,
        y: 370,
        text: 'Total power required for <br> accelerating and overcoming drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   ],
 
  //title:'Data Labels Hover'
  hovermode: 'closest'
};
//*******************************************************

//trace21, trace22, data2, layout2 Plot Pxa
var trace21 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Animation parameters',
	text: 'Mass = 10kg <br> Cd = 0.3 <br> Maximum velocity = 20m/s',
	marker: { size: 8,
		color:[9] }
	};
var trace22 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating + overcoming drag',
  	text: 'Mass = 10kg <br> Cd = 0.3 <br> Maximum velocity = 20m/s',
  	marker: { size: 8 },
	line: {
    dash: 'dash',
    width: 3
  }
	};
var trace23 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating only',
  	text: [],
  	marker: { size: 8},
	line: {
    dash: 'solid',
	color: 'grey',
    width: 3
  }
	};
var data2 = [ trace22, trace21, trace23];
var layout2 = {
height: 350,
  width: 500,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  },
title:'Maximum power required for accelerating & overcoming drag',
titlefont: {
size: 12,
}, 
	xaxis: {
		range: [0,3],
		title: 'Acceleration (m/s^2)',
		titlefont: {
size: 12,
	}, },
	yaxis: {
		range: [0,600],
		title: 'Maximum Power required (W)',
		titlefont: {
size: 12,
	},
	},
	annotations: [{
     	x: 1,
        y: 330,
       showarrow: true,
	   ax: 0,
       ay: 65,
      arrowhead: 2,
      arrowsize: 1,
      arrowwidth: 2,
      arrowcolor: '#c80000'
  	   },
	   {
     	x: 1.4,
        y: 300,
        text: 'Extra power <br> required to <br> overcome drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false,
	   bgcolor: '#ff7f0e',
      opacity: 0.8
	   },
	   {
     	x: 1.2,
        y: 150,
        text: 'Power required <br> for accelerating',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   {
     	x: 0.6,
        y: 380,
        text: 'Total power required for <br> accelerating and <br>overcoming drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   ],
 
  //title:'Data Labels Hover'
  hovermode: 'closest'
};

//trace31, trace32, data3, layout3 @Plot1_Vxv
var trace31 = {
	x: [],//1, 2, 3, 4, 5],
	y: [],//1, 6, 3, 6, 1],
	mode: 'markers',
	type: 'scatter',
	name: 'Animation parameters',
	text: 'Acceleration = 1m/s^2 <br> Mass = 10kg <br> Cd = 0.3',
	marker: { size: 8,
		color:[9] }
	};
var trace32 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating + overcoming drag',
  	text: 'Acceleration = 1m/s^2 <br> Mass = 10kg <br> Cd = 0.3',
  	marker: { size: 8 },
	line: {
    dash: 'dash',
    width: 3
  }
	};
var trace33 = {
  	x: [],//x: [1.5, 2.5, 3.5, 4.5, 5.5],
  	y: [],//[4, 1, 7, 1, 4],
  	mode: 'lines',
  	type: 'scatter',
  	name: 'For accelerating only',
  	text: [],
  	marker: { size: 8},
	line: {
    dash: 'solid',
	color: 'grey',
    width: 3
  }
	};

var data3 = [ trace32, trace31, trace33 ];
var layout3 = { 
height: 350,
  width: 500,
  margin: {
    l: 50,
    r: 0,
    b: 40,
    t: 50,
    pad: 10
  },
title: 'Maximum power required for accelerating & overcoming drag',
titlefont: {
size: 12,
align: 'center',
},
	xaxis: {
		range: [ 0,30 ],
		title: 'Maximum Velocity (m/s)',
titlefont: {
size: 12,		
	}, },
	yaxis: {
		range: [0,600],
		title: 'Maximum Power required (W)',
		titlefont: {
size: 12,
	},
	},
	annotations: [{
     	x: 21.9,
        y: 393,
       showarrow: true,
	   ax: 0,
       ay: 84,
      arrowhead: 2,
      arrowsize: 1,
      arrowwidth: 2,
      arrowcolor: '#c80000'
  	   },
	   {
     	x: 25,
        y: 320,
        text: 'Extra power <br> required to <br> overcome drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false,
	   bgcolor: '#ff7f0e',
      opacity: 0.8
	   },
	   {
     	x: 20,
        y: 150,
        text: 'Power required <br> for accelerating',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   {
     	x: 17,
        y: 380,
        text: 'Total power required for <br> accelerating and <br> overcoming drag',
		textangle: 0,
		align: 'center',
        font: {
          color: "black",
          size: 10
        },
       showarrow: false
	   	   },
	   ],
 
	//title:'Data Labels Hover'
  hovermode: 'closest'
};

Plotly.newPlot('screen3_graph', data0, layout0);

</script>

<script type="text/javascript">
	rePlotmass();
	selectmassvid();
</script>
<script> 
var vid = document.getElementById("animvid");
function mass_inc() { 
    massID = massID+1;
    vid.src ="datat/"+ "mass_"+massID+".mp4";
    vid.load();
	rePlotmass();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function mass_dec() { 
    massID = massID-1;
    vid.src ="datat/"+ "mass_"+massID+".mp4";
    vid.load();
	rePlotmass();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function acc_inc() { 
    accID = accID+1;
    vid.src ="datat/"+ "accn_"+accID+".mp4";
    vid.load();
	rePlotacc();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function acc_dec() { 
    accID = accID-1;
    vid.src ="datat/"+ "accn_"+accID+".mp4";
    vid.load();
	rePlotacc();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function shape_inc() { 
    shapeID = shapeID+1;
    vid.src ="datat/"+ "shape_"+shapeID+".mp4";
    vid.load();
	rePlotshape();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function shape_dec() { 
    shapeID = shapeID-1;
    vid.src ="datat/"+ "shape_"+shapeID+".mp4";
    vid.load();
	rePlotshape();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function vmax_inc() { 
    vmaxID = vmaxID+1;
    vid.src ="datat/"+ "vmax_"+vmaxID+".mp4";
    vid.load();
	rePlotvmax();
} 
</script> 
<script> 
var vid = document.getElementById("animvid");
function vmax_dec() { 
    vmaxID = vmaxID-1;
    vid.src ="datat/"+ "vmax_"+vmaxID+".mp4";
    vid.load();
	rePlotvmax();
} 
</script>
<script>
var vid = document.getElementById("animvid");
function selectmassvid(){
vid.src ="datat/"+ "mass_2.mp4";
vid.load();
}
</script>		
<script>
var vid = document.getElementById("animvid");
function selectaccvid(){
vid.src ="datat/"+ "accn_2.mp4";
vid.load();
				 }
</script>
 <script>
var vid = document.getElementById("animvid");
function selectshapevid(){
vid.src ="datat/"+ "shape_2.mp4";
vid.load();
 }
</script>
<script>
var vid = document.getElementById("animvid");
function selectvmaxvid(){
vid.src ="datat/"+ "vmax_2.mp4";
vid.load();
}
</script>
<script type="text/javascript">
	function showGraphmass()
	{	
	  selectmassvid();
		rePlotmass();
	}
	</script>	
<script type="text/javascript">
	function showGraphacc()
	{	
		selectaccvid();
		rePlotacc();
	}
	</script>	
	<script type="text/javascript">
	function showGraphshape()
	{	
		selectshapevid();
		rePlotshape();
	}
	</script>	
	<script type="text/javascript">
	function showGraphvmax()
	{	
		selectvmaxvid();
		rePlotvmax();
	}
	</script>	
	<script>
// When the user clicks on div, open the popup
function showhint() {
    var popup = document.getElementById("problem1simulator3_hints");
    popup.classList.toggle("show");
}
</script>
</html>

	